#header{
    display: flex;
    padding: 10px;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 20;
}
#header_title{
    margin: 0;
    font-size: 25px;
}
#header_icon{
    display: block;
    margin-right: 10px;
}
#header_menu{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    padding-right: 50px;
}
.hm_item p{
    font-weight: bold;
    font-size: 18px;
}
.hm_item{
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2px;
}
.hm_item:hover{
    background-color: rgb(236, 236, 236);
}
.hm_item.hmOn::after{
    content: '';
    height: 4px;
    width: 50%;
    display: block;
    background-color: green;
    position: absolute;
    bottom: 10px;
    border-radius: 2px;
    animation: bottomBarAnime 0.2s;
}
@keyframes bottomBarAnime{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}